<header>
  <h1>Simple Pricing</h1>
  <h1>Try before you buy.</h1>
</header>

<main>

  <section>
    <div class="price">
      $5
    </div>
    <div class="price">
      $25
    </div>
    <div class="price">
      $45
    </div>
  </section>



  <section>
    <article>
      get started today
    </article>
    <article>
      24/7 customer support
    </article>
    <article>
      pay monthly or annually
    </article>
    <article>
      cancel your plan anytime
    </article>
  </section>
</main>
